.container {
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.header {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.header h3 {
  font-size: 2.8rem;
  text-transform: capitalize;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.image img:hover {
  transform: scale(1.1);
}
